# Assignment

In this assignment I will be creating two models, fit them, then print the model scores. I will be using Logistic Regression and Random Forest Classifier. I will be predicting which model I believe will perform better.

# Prediction

Due to the nature of loans I believe that the Random Forest Classifier will perform better. I believe using the random model will give more room for acceptance where the Logistic model will be stricter and have less of a postive outcome.

In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [2]:
# Import the data
path = 'Resources/lending_data.csv'
loan_df = pd.read_csv(path)
loan_df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [37]:
# Split the data into X_train, X_test, y_train, y_test
y = loan_df["loan_status"].values
X = loan_df.drop("loan_status", axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=50)
X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

In [38]:
# Train a Logistic Regression model print the model score
classifier = LogisticRegression()
classifier.fit(X_train, y_train)
classifier.score(X_test, y_test)

0.9925196037969459

In [39]:
# Train a Random Forest Classifier model and print the model score
rfclassifier = RandomForestClassifier()
rfclassifier.fit(X_train, y_train)
rfclassifier.score(X_test, y_test)

0.991642591828312

# Outcome

Although both outcomes performed almost identical, the logistec model was slightly more accurate making my prediction false.